<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h5 class="text-muted">Custom Input and Output - Databinding</h5>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      {{showFlag}}
      <input class="btn btn-info" type="button" value="Toast It" (click)="openToast()">
    </div>
  </div>
  <div class="row mt-4">
    <div class="col-md-12">
      <app-toast [wantToDisplay]="showFlag" (cardClose)="showFlag = $event" [info]="{'title' :'android', 'body':'This is toast example from bootsrap', 'tms':'3 sec ago'}"></app-toast>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h6>Lorem ipsum dolor sit amet consectetur adipisicing elit. Neque odit officia, optio illo placeat odio, porro impedit natus itaque mollitia repudiandae id dolores esse minima! Quis expedita quaerat deleniti a?</h6>
    </div>
  </div>
</div>