<div class="container">
  <div class="row mt-2 border">
    <div class="col-md-12">
      <h1 class="text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis praesentium laboriosam dolore facilis nobis, recusandae cumque ratione rerum ipsam corporis quia hic! Vero recusandae ducimus facilis ex aspernatur ipsam esse!</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <app-code-card></app-code-card>
    </div>
  </div>
  <div class="row mt-2">
    <div class="col-md-12">
      <app-card-data></app-card-data>
    </div>
  </div>
</div>